{% extends 'main/navigation.html' %}
{% block content %}
    <div class="features">
        <h1>Финансовые переводы</h1>
        <p>На данном сайте есть 3 роли:<br>
        1) User - пользователь сайта, имеет доступ к таблице "операции" и "переводы",<br>
            может выполнить только операцию добавления записи<br></p>
        <p>2) Teller - Операционист, занимается выпуском карт, личными данными клиентов.<br>
        Имеет доступ к таблицам "Участники", "Банк", "Карта", "Личные данные" и может<br>
        выполнять все операции с таблицами</p>
        <p>3)Admin - администратор сайта, имеет доступ ко всем таблицам, может выполнять<br>
        все операции со всеми таблицами</p>
    </div>
{% endblock %}